<mat-card>


  <form *ngIf="!isLoading" action="post" (submit)="login(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput ngModel name="email" id="email" type="text" #email="ngModel" required email>
      <mat-error *ngIf="email.touched && email.invalid">this field required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Passord</mat-label>
      <input type="password" ngModel name="pass" id="pass" matInput placeholder="Password" #pass="ngModel" required>
      <mat-error *ngIf="pass.touched && pass.invalid">this field required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]='loginForm.invalid'
      *ngIf="!isLoading">Login</button>
  </form>
  <mat-spinner *ngIf="isLoading"> </mat-spinner>

</mat-card>
